<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shasha.electrokart">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/moneymap_icom"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Ui.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".Ui.SignupActivity" />
        <activity
            android:name=".Ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".Ui.SettingActivity" />
        <activity android:name=".Ui.SpendActivity" />
        <activity android:name=".Ui.CategoriesActivity" />
        <activity android:name=".Ui.AboutActivity" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Ui.ProfileActivity" />
        <activity android:name=".Ui.EditTransactionActivity" />
        <activity android:name=".Ui.AppSettingActivity" />
        <activity android:name=".Ui.TotalSpendDetailsActivity" />
        <activity android:name=".Ui.SpendSummaryActivity" />
        <activity android:name=".Ui.TransactionBillsActivity" />
        <activity android:name=".Ui.ImageFullScreenActivity" />
        <activity android:name=".Ui.AccountSummaryActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".Ui.BudgetActivity" />
        <activity android:name=".Ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a70a2cc6b67d860f81795b637ad1b07304549055" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>
